{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Juanjo Ruiz - Fotgrafo</h1>
    <div class="about">
        <img src="https://picsum.photos/300/350" alt="">
        <div class="about-content">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis molestiae, officiis nulla consectetur quia est maiores ullam repellat cum iure laudantium fugiat eum, natus, fugit nisi nesciunt distinctio nihil non.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam debitis, laudantium eligendi dolor laborum reprehenderit tempora quisquam itaque quas sapiente? Maxime delectus consequatur fuga est molestiae rem reprehenderit cum fugit.</p>
        </div>
    </div>
{% endblock  %}